<connectionStrings>
  <!--<add name="DystopianWarsDatabase"
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DataAccess.DystopianRepository;Integrated Security=True;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient"/>-->
  <add name="DystopianWarsDatabase"
       connectionString="Server=tcp:dystopianwars.database.windows.net,1433;Initial Catalog=DW-T;Persist Security Info=False;User ID=DWAdmin;Password=!6a5689e8c142194aa8378ed8750c60911391c833715b17f6d976b86ec5a1c11e;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
       providerName="System.Data.SqlClient"/>
</connectionStrings>