/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.2
 *
*/
body {
  background-image: url("BG.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.dystopian-sidebar {
  position: fixed;
  width: 437px;
  z-index: 50;
  height: 100%;
  background-color: gray; }

.dystopian-container {
  margin-left: 437px; }

