/// <reference path="~/Content/Inspinia/_variables.scss" />

#merchantBillingForm
{
    .tdInput
    {
        padding-left: 16px;
    }

    .tdInput.noInput
    {
        padding-left: 20px;
    } 

    .table 
    {
        margin-bottom: 0px;
    }

    select, input
    {

        font-size: 13px;
        border: none;
        border-bottom: 1px solid #E6EBEC;
        border-radius: 0;
        color: #585960;
        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;
    }

    tr th
    {
        border-top: solid  #e7eaec 1px;
        padding-top: 27px;
    }

    th, td
    {
        padding-left: 32px;
        padding-right: 0px;
    }

    tr:first-child th
    {
        border-top: none;
    }

    .ibox-content
    {
        padding: 0px;
        padding-bottom: 15px;
    }
}