/// <reference path="~/Content/Inspinia/_variables.scss" />

#merchantGeneralForm 
{
    .form-control
    {
        padding-left: 4px;
    }

    .tdInput
    {
        padding-left: 4px;
    }

    .tdInput.drop
    {
        padding-left: 0px;
    }

    .tdInput.noInput
    {
        padding-left: 8px;
    }

    .likeLabel
    {
        font-weight: 700;
    }

    .table 
    {
        margin-bottom: 0px;
    }

    .k-grid-header
    {
        display: none;
    }
}