/// <reference path="_variables.scss" />

.dystopian-sidebar {
    position:fixed;
    width: 350px;
    z-index: 1000;
    height: 100%;
    background-color: gray;
}

.dystopian-container {
    margin-left: 350px;

}

.collapse in {

}