/// <reference path="../../_variables.scss" />

.wrapper-login {
    padding: 0;
}

.loginscreen.middle-box {
    width: 350px;
    margin-bottom: 15px;

    a {
        color: $buck-bluish-gray;

        &:hover {
            border-bottom: 1px solid $buck-more-gray;
        }
    }

    @media (max-width: 768px) {
        width: 300px;
        margin-top: 0;
    }
}

#no-customer {
    color: #000;

    a {
        color: #000;
        font-weight: bold;
        border-bottom: 1px solid $buck-more-gray-hover;

        &:hover {
            border-color: $buck-more-gray;
        }
    }
}

@media (max-width: 760px) {
    .marketing-content-wrapper {
        display: none;
    }
}

#marketing-content {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: 100;
    color: #fff;
    line-height: 1.6;

    .update-title {
        .fa {
            color: $buck-dirty-yellow;
            font-size: 1.4em;
            margin-right: 4px;
            position: relative;
            top: 3px;
        }

        color: #fff;
        font-weight: 300;
        margin: 0 0 30px 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
    }

    > div {
        padding: 50px;
        font-size: 1.2em;

        h1 {
            font-size: 36px;
            margin: 0 0 30px 0;
        }

        .slice {
            margin: 15px 0;
        }
    }
}


#copyright {
    position: absolute;
    bottom: 1em;
    text-align: center;
    width: 100%;
}
