@using Dystopian
@{
    ViewBag.Title = "Azure";
}
@section scripts{
    @Scripts.Render("~/bundles/fleetbuilder")
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2" id="dystopianMenu">
           
            @*<div class="panel-group panel-dystopian" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Collapsible Group 1
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Collapsible Group 2
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                Collapsible Group 3
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </div>
                    </div>
                </div>
            </div>*@
          
            <div>
                <!-- ko if: AvailableModels().length > 0 -->
                <table class="table table">
                    <thead>
                        <tr>
                            <th>Model</th>
                            <th>Points</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: AvailableModels">
                        <tr>
                            <td data-bind="text: Name"></td>
                            <td data-bind="text: BasePoints"></td>
                            <td><button type="button" class="btn btn-xs btn-primary" title="Add" data-bind="event: { click: $parent.addToSelectedItems }"><span class="glyphicon glyphicon-plus"></span></button></td>
                        </tr>
                    </tbody>
                </table>
                <!-- /ko -->
            </div>

        </div>
        <div class="col-sm-12 col-md-8" id="dystopianBody">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1">Model</th>
                        <th class="col-md-1">Size</th>
                        <th class="col-md-1">Points</th>
                        <th class="col-md-1">Squadron</th>
                        <th class="col-md-6">Options</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: FleetList">
                    <tr style="height: 60px">
                        <td data-bind="text: Name"></td>
                        <td>(<span data-bind="text: Size()"></span>)</td>
                        <td data-bind="text: CurrentPoints"></td>
                        <td>
                            <div class="btn-group" role="group" data-bind="visible: Size() != 'L'">
                                <button type="button" class="btn btn-xs btn-primary" data-bind="event: { click: $parent.decreaseSquadronSize }"><span class="fa fa-chevron-left"></span></button>
                                <button type="button" class="btn btn-xs btn-primary" data-bind="event: { click: $parent.increaseSquadronSize }"><span class="fa fa-chevron-right"></span></button>
                            </div>
                        </td>
                        <td align="left" class="squadronInfo">
                            <!-- ko foreach: Ships -->
                            <img style="opacity:0.3" title="Options.." data-title="Options..." data-bind="attr: { src: $parent.Url(), class: 'size_' + Size()}, css: { 'ImageActive hvr-pulse-grow' : Active()}, event: { click: $root.showOptions }" />

                            <!-- /ko -->
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-primary" title="Remove" data-bind="event: { click: $parent.removeFromSelectedItems }"><span class="fa fa-close"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-1" id="dystopianSummary" style="text-align:center">
            <div class="well" style="margin-top:15px;">
                <p><span data-bind="text: TotalPoints"></span> / <span data-bind="text: CappedPoints"></span></p>
                <p>FLEET VALUE</p>
            </div>
            <div class="well">
                <p><span data-bind="text: PercentageLarge"></span><span>%</span></p>
                <p>LARGE</p>
            </div>
            <div class="well">
                <p><span data-bind="text: PercentageMedium"></span><span>%</span></p>
                <p>MEDIUM</p>
            </div>
            <div class="well">
                <p><span data-bind="text: PercentageSmall"></span><span>%</span></p>
                <p>SMALL</p>
            </div>

        </div>
    </div>
</div>
<!-- ko if: $root.CurrentShip().Name != null -->
@Html.Partial("_shipOptions", false)
<!-- /ko -->
