/// <reference path="../../_variables.scss" />

// Transaction listing
#transaction_list {
    // force tooltips on one line
    .tooltip-inner {
        white-space: nowrap;
        max-width: none;
    }

    th, td {
        max-width: 150px;
    }
}

// Style Datetype as a label of 'datefrom and dateto'
#dateType {
    font-weight: 700;
}

#transactionDetailsTab .bpe_icon {
    margin-top: -10px;
    width: 64px;
}

.timeline-item .date {
    width: 62px;
    padding-top: 33px;
}

.timeline-item .content {
    min-height: 72px;
}

.ribbon {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: 75px solid transparent;
    border-top: 75px solid $buck-bluish-gray;
    position: absolute;
    bottom: -65px;
    right: -109px;
    padding: 0 10px;
    width: 240px;
    color: white;
    font-size: 40px;
    font-weight: 100;
}

#transactionDetailsTab .ribbon {
    bottom: -46px;
    right: -116px;
    width: 120px;
}

#dataRequestDetailsTab .ribbon {
    bottom: -50px;
    right: -128px;
    width: 120px;
}

#subscriptionTabDetail .ribbon {
    bottom: -29px;
    right: -95px;
    width: 280px;
}

.ribbon .txt {
    position: absolute;
    top: -66px;
    left: 20px;
}
#trxUnbanIp,
#trxBanIp {
    &:hover{
        text-decoration: none;
    }
}

#periodOverviewTable {
    // set th widths for respective columns
    .cellTrxTypeMonth {
        width: 10.2%;
    }

    .cellTrxTypeYear {
        width: 22%;
    }

    .cellDay {
        width: 2.8%;
    }

    .cellMonth {
        width: 6%;
    }

    .cellTotalMonth {
        width: 3%;
    }

    .cellTotalYear {
        width: 6%;
    }

    a {
        color: $buck-bluish-gray;
    }

    .tableCell.trxType {
        padding-right: 10px;
    }

    td, th {
        &:not(:first-child) {
            text-align: center;
        }

        &.hover {
            background-color: #F0F4F6;
        }

        height: 3em;
        padding: 2px;
        max-width: 145px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &.allow-overflow {
            overflow: visible;
            max-width: 300px;
            white-space: normal;
        }
    }
}
