/// <reference path="../../_variables.scss" />

#merchantDetailsNavigation {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 200px;
}

#merchantContent {
    position: relative;
    display: table-cell;
    vertical-align: top;
    padding: 0 0 0 10px;
    margin: 0 0 0 0;
    width: auto;
}



/* --- subscriptions tab ---*/
.bpe_card {
    border: 1px solid $buck-more-gray;
    border-radius: 4px;
    position: relative;
    padding: 4px;
    margin-bottom: 1em;
    float: left;
    clear: both;
    width: 99%;
    cursor: pointer;
}

.bpe_card .bpe_loading_layer {
    display: none;
}
.bpe_loading_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    opacity: 0.5;
    display: none;
    background: url('../../../App_Themes/Buckaroo/Images/loader_background.gif') no-repeat scroll center center #EAEAEA;
}

.bpe_card .bpe_summary {
    display: block;
    margin: 0px;
}

.bpe_card .bpe_body {
    padding: 10px;
}

.bpe_card .bpe_detail {
    display: none;
}

.bpe_card_warning
{
	background-color: $yellow;
}
	
.bpe_card_error
{
	background-color: $buck-more-gray-hover;
}

.bpe_card .bpe_icon {
    float: left;
    width: 64px;
    margin-right: 8px;
    cursor: default;
}

.bpe_card.bpe_selected
{
	border-color: $buck-dirty-yellow;
	background: none;
	background-color: white;
	margin-top: 1em;
	margin-bottom: 2em;
	cursor: default;
}

.bpe_card.bpe_selected .bpe_detail
{
	display: block;
}

.bpe_card.bpe_selected .bpe_summary
{
	display: none;
}

.bpe_merchant_subscription, .bpe_service_details 
{
    margin-left: 76px;
    max-width: calc(100% - 110px);
}

.bpe_amount_enabled {
    font-weight: bold;
}

.bpe_content_rightpane {
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
}

.bpe_listbox, .bpe_lightlistbox {
    min-width: 120px;
    max-width: 180px;
    padding: 0px;
    margin: 0px 0px 2em;
    list-style: none inside none;
    border: 1px solid $buck-more-gray;
    min-height: 20px;
    max-height: 170px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #FFF;
}

.bpe_listbox li a, .bpe_lightlistbox li a 
{
    display: block;
    padding: 4px;
    text-decoration: none;
    line-height: 10pt;
}

.bpe_listbox li.bpe_selected a 
{
    background-color: #A3D608;
    font-weight: bold;
    color: #000;
}

.bpe_card.bpe_selected th
{
	padding: 6px 4px 4px 4px;
	width: 100px;
	white-space: nowrap;
}

#transTypeGrid th {
    width: auto;
}
			
.bpe_card.bpe_selected .t-tabstrip
{
	min-height: 160px;
	margin-top: 1em;
}
			
.bpe_card.bpe_selected .t-tabstrip .t-item
{
	position: relative;
	z-index: 2;
}
		
.bpe_card.bpe_selected .t-tabstrip .t-content
{
	min-height: 160px;
	padding: 10px;
	position: relative;
	overflow: hidden;
}
			
.bpe_card.bpe_selected p
{
	margin: 0;
}

.credentialDisplayName {
    font-weight: bold;
    font-size: 1.2em;
}

.requiredMark {
    font-weight: bold;
    font-size: 2em;
    color: #F00;
}

#quickSetupTable .discountTypeSelect, #quickSetupTable .acquirerName > select
{
    min-width: 50px;
}

#quickSetupTable th
{
    border-width: 0 0 0 0 ;
    white-space:nowrap;
}

#quickSetupTable .serviceName, #quickSetupTable .requiredCredential
{
    white-space:nowrap;
    font-weight: bold;
}

#quickSetupTable .requiredCredential
{
    border-left: 1px dotted #CCCCCC;
}

#quickSetupTable .oddCell
{
    background-color: rgb(243, 243, 243);
}

#quickSetupTable .evenCell
{
    background-color: White;
}

#quickSetupTable .discountCellWrapper
{
    width: 110px;
}

#quickSetupTable .starterContractText
{
    color: Green;
    font-weight: bold;
}

.bpe_loading_element
{
	z-index: 3;
	opacity: 0.5;
	background: #eaeaea url('../../../App_Themes/Buckaroo/Images/loader_background_small.gif') no-repeat center center;
}

.explanationPopup {
    display: none;
    position: absolute;
}

.discountValue {
    width: 50px;
}
/* --- end of subscriptions tab ---*/

.input-validation-error {
    border: 1px solid red;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}
